* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.landing-page {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: brown;
}

.main-content {
    width: 500px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style-type: none;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid brown;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}